---
import '../styles/global.css'

const pagetitle = "My Astro Learning Blog";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/shulkicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pagetitle}</title>
	</head>
	<body>
		<a href="/">Back to Home</a>
		<a href="/about">About</a>
		<a href="/blog">Blog</a>
		
		<h1>This is the blog page</h1>
		<p>This is where I will post about my journey learning Astro.</p>

		<ul>
			<li><a href="/posts/post_1">Blog Post 1</a></li>
			<li><a href="/posts/post_2">Blog Post 2</a></li>
			<li><a href="/posts/post_3">Blog Post 3</a></li>
		</ul>
	</body>
</html>
