---
import '../styles/global.css';
import Greeting from '../components/Greeting.jsx';
import BaseLayout from '../layouts/BaseLayout.astro';

const pagetitle = "Home Page";
---

<BaseLayout pagetitle={pagetitle}>
	<h2>May awesome blog subtitle</h2>
	<Greeting client:load messages={["Hello", "Hola", "Bonjour", "Hallo", "こんにちは"]} />
</BaseLayout>
